body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:limegreen;
}

#cartas-dealer img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

#cartas-jogador img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

#aumentar {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#ficar{
    width: 100px;
    height: 50px;
    font-size: 20px;
}

button{
    border-radius: 10px;
    border-style: none;
}

p{
    font-weight: bold;
    font-size: 25px;
}

#reiniciar{
    width: 100px;
    height: 50px;
    font-size: 20px;
}